/*
Author: Michael Lyn
*/
/*Style for the login pane*/
#loginPane{

    -fx-background-image: url("overwatchBackground.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 400 400;
    -fx-background-position: center center;
}
/*Style for the general pane*/
#generalPane{

    -fx-background-image: url("statsBackground.png");  
    -fx-background-position: center center;
}
/*Style for the hero stats pane*/
#heroStatsPane{
    -fx-background-image: url("statsBackground.png");  
    -fx-background-position: center center;
}
